.linkItemContainer {
  padding: 12px;
  background-color: var(--background-white);
  border-radius: 50%;
  box-shadow: 0 4px 6px var(--shadow-md);
  border: 1px solid var(--border-gray-400);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkItemContainer:hover {
  background-color: var(--background-gray-50);
  box-shadow: 0 8px 16px var(--shadow-lg);
}

.linkItemContainer svg {
  width: 20px;
  height: 20px;
  color: var(--text-quaternary);
}
