.burgerButton {
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.burgerButton svg {
    stroke: var(--text-quaternary);

}

.burgerButton:hover {
  background-color: var(--background-gray-100);
}

@media screen and (min-width: 840px) {
  .burgerButton {
    display: none;
  }
}
