.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  color: #1f2937;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}



.cardWrapper:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.cardWrapper.small {
  width: 100%;
  max-width: 480px;
  min-width: 300px;
}

.cardWrapper.large {
  width: 100%;
  max-width: 800px;
}
