.logoContainer {
  color: var(--logo-text-color);
  font-size: 20px;
  font-weight: 700;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoContainer:hover {
  color: var(--logo-text-hover-color);
}

@media screen and (max-width: 767px) {
  .logoContainer {
    font-size: 18px;
  }
}
