.buttonPrimary {
  color: var(--hire-me-button-color);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--hire-me-button-background-color);
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.buttonPrimary:hover {
  background-color: var(--hire-me-button-background-hover-color);
}
.buttonSecondary {
  color: var(--button-secondary-color);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--button-secondary-background);
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid var(--button-secondary-border);
  transition:
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSecondary:hover {
  background-color: var(--button-secondary-hover-background);
  color: var(--button-secondary-hover-color);
}
.buttonPrimary svg {
  height: 20px;
  width: 20px;
}
.buttonPrimary svg path {
  fill: var(--text-white);
}
