.aboutContainer {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.aboutMeInfo {
  margin: 64px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.myImage {
  width: 336px;
  height: 384px;
  border: 3px solid var(--text-white);
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px var(--shadow-xl);
  object-fit: cover;
}
.aboutMeDescription {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardContainer {
display: flex;
gap: 24px;
flex-wrap: wrap;

}

@media (min-width: 640px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 840px) {
  .aboutMeInfo {
    flex-direction: column;
    gap: 30px;
  }
  .myImage {
    width: 325px;
  }
}
