.contactContainer {
  padding: 80px 0;
  background: linear-gradient(to bottom, var(--background-gray-50), var(--background-gray-100));
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contactContainer {
    padding: 128px 0;
  }
}

.contactCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.legal {
  margin-top: 150px;
}
