.headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px 0;
    width: 100%;
    z-index: 9999;
}

.navigationButtonsContainer{
    display: flex;
    gap: 24px;
}

.navigationButtons{
    color: var(--navigation-buttons-color);
    font-weight: 500;
    font-size: 16px;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.navigationButtons:hover{
    color: var(--navigation-buttons-hover-color)
}

.hireMeButton{
    color: var(--hire-me-button-color);
    font-weight: 500;
    font-size: 16px;
    background-color: var(--hire-me-button-background-color);
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hireMeButton:hover{
    background-color: var(--hire-me-button-background-hover-color)
}