.iconWrapper {
  padding: 8px;
  background: linear-gradient(to bottom right, var(--gradient-blue-start), var(--gradient-purple-end));
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper svg {
  stroke: var(--text-white);
}
