.cardComponentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--border-gray-200);
  background-color: var(--background-white);
  color: var(--text-secondary);
  box-shadow: 0 1px 2px var(--shadow-sm);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.cardComponentWrapper:hover {
  box-shadow: 0 10px 15px var(--shadow-md);
  transform: translateY(-4px);
}
.cardTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 8px 0;
}

.cardDesc {
  font-size: 14px;
  color: var(--text-tertiary);
}
