*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --logo-text-color: black;
  --logo-text-hover-color: blue;
  --navigation-buttons-color: #334155;
  --navigation-buttons-hover-color: #2563eb;
  --hire-me-button-color: #fafafa;
  --hire-me-button-background-color: #0f172a;
  --hire-me-button-background-hover-color: #1e293b;
}
