.techItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.iconTitleContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.techTitle {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.techItem {
  padding: 6px 12px;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 14px;
  color: #334155;
  transition: background-color 0.3s ease;
}

.techItem:hover {
  background-color: #f1f5f9;
}
