.techItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.iconTitleContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.techTitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-quinary);
}

.techItem {
  padding: 6px 12px;
  background-color: var(--background-gray-50);
  border: 1px solid var(--border-gray-200);
  border-radius: 8px;
  font-size: 14px;
  color: var(--text-quaternary);
  transition: background-color 0.3s ease;
}

.techItem:hover {
  background-color: var(--background-gray-100);
}
